/* CSS for desktop view */
@media (min-width: 768px) {
    main{
        flex-direction: row;
        width: 50%;
        margin: 23em 0 0 0;
    }
    #drawers{
        width: 35%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
}
